@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


body{
    background-color: #1C2226;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    
}
.container{
    background-color: #8D9CA6;
    width: 570px;
    height: auto;
    margin-left: 400px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}
li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 15px;
    
}
.curriculo::before{
    content: url(../../imagens/icones/curriculos.png);
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;  
}
.contato::before{
    content: url(../../imagens/icones/contato.png);
    position: absolute;
    margin-top: -5px;
    margin-left: -50px;  
}
h1{
   text-decoration: underline;
   font-size: 20px;
}

textarea{
    resize: horizontal;
    height: 60px;
    width: 200px;
}

label{
    text-align: left;
    font-size: 16px;
}
button:hover{
    background-color: blue;
    color: white;

}
button{
    font-family: 'Dancing Script', cursive;
    height: 50px;
    width: 60px;
    font-size: 13px;
}

select{

    width: 150px;
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}
option{
    text-align: center;
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}